<a href="https://colab.research.google.com/github/DsRaul/Churn_Telecom/blob/master/DataWrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Exportamos los datos

URL = 'https://raw.githubusercontent.com/DsRaul/Churn_Telecom/master/WA_Fn-UseC_-Telco-Customer-Churn.csv'
df = pd.read_csv(URL)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [4]:
df = df.fillna(df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [5]:
df.columns[df.isnull().any()]

Index([], dtype='object')

In [6]:
data_1 = df.drop(['customerID'], axis=1)

In [7]:
data_1['Churn'].replace(to_replace='Yes', value=1, inplace=True)
data_1['Churn'].replace(to_replace='No',  value=0, inplace=True)
data_1.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,0
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [13]:
#Let's convert all the categorical variables into dummy variables
df = pd.get_dummies(data_1, columns=['Partner','Dependents','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling'])
df.head()

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,...,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes
0,Female,0,1,No,No phone service,DSL,Month-to-month,Electronic check,29.85,29.85,...,0,0,1,0,0,1,0,0,0,1
1,Male,0,34,Yes,No,DSL,One year,Mailed check,56.95,1889.5,...,0,0,1,0,0,1,0,0,1,0
2,Male,0,2,Yes,No,DSL,Month-to-month,Mailed check,53.85,108.15,...,0,0,1,0,0,1,0,0,0,1
3,Male,0,45,No,No phone service,DSL,One year,Bank transfer (automatic),42.30,1840.75,...,0,1,1,0,0,1,0,0,1,0
4,Female,0,2,Yes,No,Fiber optic,Month-to-month,Electronic check,70.70,151.65,...,0,0,1,0,0,1,0,0,0,1

In [14]:
df.isnull().sum()

gender                                  0
SeniorCitizen                           0
tenure                                  0
PhoneService                            0
MultipleLines                           0
InternetService                         0
Contract                                0
PaymentMethod                           0
MonthlyCharges                          0
TotalCharges                            0
Churn                                   0
Partner_No                              0
Partner_Yes                             0
Dependents_No                           0
Dependents_Yes                          0
OnlineSecurity_No                       0
OnlineSecurity_No internet service      0
OnlineSecurity_Yes                      0
OnlineBackup_No                         0
OnlineBackup_No internet service        0
OnlineBackup_Yes                        0
DeviceProtection_No                     0
DeviceProtection_No internet service    0
DeviceProtection_Yes                    0
TechSupport_No                          0
TechSupport_No internet service         0
TechSupport_Yes                         0
StreamingTV_No                          0
StreamingTV_No internet service         0
StreamingTV_Yes                         0
StreamingMovies_No                      0
StreamingMovies_No internet service     0
StreamingMovies_Yes                     0
PaperlessBilling_No                     0
PaperlessBilling_Yes                    0
dtype: int64